<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
  <head th:replace="fragments/head :: head('Lista de Clientes')"></head>
  <body>
    <header th:replace="fragments/navbar :: navbar"></header>

    <div class="container my-5">
      <h2 class="text-center mb-4">Listado de Clientes</h2>

      <table class="table table-bordered table-striped shadow-sm">
        <thead class="table-primary">
          <tr>
            <th>#</th>
            <th>Nombre</th>
            <th>Email</th>
            <th>Teléfono</th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="cliente, iter : ${clientes}">
            <td th:text="${iter.index + 1}"></td>
            <td th:text="${cliente.nombres} + ' ' + ${cliente.apellidos}"></td>
            <td th:text="${cliente.email}"></td>
            <td th:text="${cliente.telefono}"></td>
          </tr>
        </tbody>
      </table>
    </div>

    <footer th:replace="fragments/footer :: footer"></footer>
  </body>
</html>
