<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
  <head th:replace="fragments/head :: head('Perfil Cliente')"></head>
  <body>
    <header th:replace="fragments/navbar :: navbar"></header>

    <div class="container my-5">
      <div class="card shadow-sm p-4">
        <h3 class="text-primary mb-3">Mi Perfil</h3>

        <p>
          <strong>Nombre:</strong>
          <span
            th:text="${cliente.nombres} + ' ' + ${cliente.apellidos}"
          ></span>
        </p>
        <p><strong>Email:</strong> <span th:text="${cliente.email}"></span></p>
        <p>
          <strong>Teléfono:</strong> <span th:text="${cliente.telefono}"></span>
        </p>

        <a th:href="@{/}" class="btn btn-secondary mt-3">Volver al inicio</a>
      </div>
    </div>

    <footer th:replace="fragments/footer :: footer"></footer>
  </body>
</html>
